.addIconTitle{
    margin-top: 20px;
    font-size:6vw;
    opacity: 0.6;
    cursor: pointer;
}

.input-lg {
    content:"Title";
    margin-top: 20px;
    font-size: 6vw !important;
    opacity: 0.6;
  }

  .input-lg:empty:before {
    content:"Title";
    margin-top: 20px;
    font-size: 6vw !important;
    opacity: 0.6;
  }

.input-textarea{
    margin-top: 20px;
    max-height:25vw;
    min-height:25vw;
    overflow: auto;
}

.input-textarea:empty:before{
    content:"Add content to your body";
    opacity: 0.3;
    margin-top: 20px;
    height:25vw;
}