
  .foot{
    margin-left:35%;
    margin-right:34%;
    font-size: 2vh; 
  }


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */
.foot{
  margin-left:13%;
  margin-right:0;
  font-size: 1.8vh; 
}

}