.brand{
    display: inline;
    font-family: 'Megrim', cursive;
    font-weight: bolder;
    font-size: 20px;
    color: #e0dfdc;
}

.navitems{
    font-family: 'Raleway', sans-serif;
    color:white;
}